
@CHARSET "UTF-8";

body
{
	margin: auto;
	
}

.menu{
	position: fixed;
	height: 100%;
	width: 15%;
	background-color: #1e1d1d;
}
#titel{
	text-align: center;
	font-size: 300%;
	font-family: "DokChampa";
	margin-top:10px;
	
}
.links{
	margin-right : auto;
	margin-top : 15px;
	margin-left: auto; 
	width: 90%;
	height: 70px;
	position: relative;
	background-color: #454545;
	
}
a:link, a:active, a:visited{
	text-decoration: none;
	color: black;
}

.links>h2{
	text-align: center;
	font-size: 200%;
	font-family: "DokChampa";
	margin-top: 15px;
	
}


.mainDiv
{
	width: 85%;
	height: 100%;
	margin-left: 15%;
	background-color: red;
	position: fixed;

}

.headDiv
{
	width: 100%;
	height: 75px;
	background-color: green;
	position: relative;
	float: right;
}


.questDiv
{
	width: 100%;
	height: 150px;
	background-color: purple;
	position: relative;
	float: right;
}

.contentDiv
{

}

#huvud
{
	text-align: center;
	color: gold;
	width: 40%;
	height: 0%;
	font-size: 20px;
}

#quest
{
	text-align: center;
	font-size: 30px;
	font-family: comic sans;
}

#searchbar
{
	margin-left: 80%;
}